.navbar {
  border-bottom: 1px solid white;
}

.contact-icons i {
  color: #6B7280;
  transition: all 0.3s ease;
}

.contact-icons a:hover i {
  color: #111827;
  transform: scale(1.2);
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-body {
  padding: 1rem;
}